<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h2">Gerenciar Carros</h1>
    <button class="btn body-button text-white" (click)="openModal()">
      <i class="fas fa-plus me-2"></i>Adicionar Novo Carro
    </button>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Modelo</th>
              <th>Marca</th>
              <th>Ano</th>
              <th>Preço</th>
              <th>Status</th>
              <th class="text-end">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let carro of carros">
              <td><img [src]="carro.fotos" [alt]="carro.modeloVeiculo" width="100" class="img-thumbnail"></td>
              <td>{{ carro.modeloVeiculo }}</td>
              <td>{{ carro.marcaCarro }}</td>
              <td>{{ carro.anoModelo }}</td>
              <td>{{ carro.precoVeiculo | currency:'BRL' }}</td>
              <td>
                <span class="badge" [ngClass]="carro.idStatusVeiculo === 1 ? 'bg-success' : 'bg-secondary'">
                  {{ carro.idStatusVeiculo === 1 ? 'Disponível' : 'Vendido' }}
                </span>
              </td>
              <td class="text-end">
                <button class="btn btn-sm btn-outline-primary me-2" (click)="openModal(carro)">
                  <i class="fas fa-edit"></i> Editar
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="delete(carro)">
                  <i class="fas fa-trash"></i> Deletar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>