<div class="container-fluid py-4">
  <div class="container py-4">
  <div class="row">
    <!-- Coluna de filtros -->
    <aside class="col-lg-3">
      <app-carros-filter (filterChange)="onFilterChange($any($event))"></app-carros-filter>
    </aside>

    <!-- Coluna de listagem -->
    <section class="col-lg-9">
      <div class="row g-3">
        <div
          class="col-md-6 col-xl-4"
          *ngFor="let carro of carrosFiltrados"
        >
          <div class="card h-100 shadow-sm">
            <img
              [src]="carro.fotos"
              class="card-img-top"
              [alt]="carro.modeloVeiculo"
            />
            <div class="card-body d-flex flex-column">
              <span class="badge bg-danger mb-2">{{ carro.marcaCarro }}</span>
              <h5 class="card-title">{{ carro.modeloVeiculo }}</h5>
              <p class="card-text small text-muted mb-1">
                {{ carro.anoModelo }} · {{ carro.quilometragem | number }} km
              </p>
              <h6 class="mt-auto">R$ {{ carro.precoVeiculo | number:'1.0-0' }}</h6>
              <a [routerLink]="['/principal/carros', carro.numChassi]" class="btn btn-dark mt-2">
                Ver oferta
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>
