<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    
    <a class="navbar-brand text-white" routerLink="/principal">
      <i class="fas fa-car-side me-2"></i>
      RevendaCarros
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-white"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-3 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-title" routerLink="/principal/carros">Carros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-title" routerLink="/principal/pecas">Peças</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-title" routerLink="/principal/servicos">Serviços</a>
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <a routerLink="/principal/carrinho" class="text-white me-4 position-relative">
        <i class="fas fa-shopping-cart" style="font-size: 30px;"></i>
        <span *ngIf="(cartItemCount$ | async) as count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ count > 0 ? count : '' }}
        </span>
      </a>
      
      <a routerLink="/login" class="align-items-center text-decoration-none">
        <i class="fas fa-circle-user" style="font-size: 32px; color: white;"></i>
      </a>
    </div>

  </div>
</nav>

<!-- MDB Bootstrap JS -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.0/mdb.min.js"
></script>

<style>
  /* optional hover effect on the avatar */
  .d-flex.align-items-center > a img:hover {
    opacity: 0.8;
    cursor: pointer;
  }
</style>

