/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';
@import 'bootstrap/scss/bootstrap';

.centralizar{
    text-align: center;
}

.body{
    background-color: #4d0505 ;
}

.body-button{
    background-color: #860909 ;
}

.body-button:hover {
  background-color: #6d2626; 
}

.body-button:active {
  background-color: #8a2e2e;
}

.text-title { color: #ffffff !important; font-size:18px  !important; font-weight:bolder; }
.text-custom { color: #000000 !important; font-size:14px  !important; }
.bg-custom   { background-color: #ebebeb !important; }


